.wrapper{
    margin: 0 auto;
    width: 1024px;
}


body{
    background-color: rgb(229, 188, 229);
}


*{
    font-family: Montserrat;
}


h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}


#formulaire {
    background-color: #db71b2;
    box-shadow: 8px 8px 12px rgb(238, 148, 226);
    margin: 10px 180px;
    padding: 10px;
}


#form{
    padding: 10px;
}


#valider{
    background-color: #b63d8e;
    color: #fff;
    padding: 10px;
}


#paires, #joueur{
    padding: 10px;
}


#jeu{
    margin-top: 60px;
    padding: 150px;
    background-color: rgb(224, 156, 201);
}


#timer{
    max-width: 70px;
    background-color: rgb(224, 156, 201);
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
}


div{
    text-align: center;
}


#commencer{
    margin-top: 50px;
}